@model IEnumerable<Twitch.Models.Canalstreamer>




@{
    ViewData["Title"] = "Index";
    List<Consulta3> listConsulta = (List<Consulta3>)ViewData["lista"];
}

<h1>Consulta 3</h1>

<p>
    -- checar quais canais o usuario NAO assistiu dos canais que lhe foram recomendados

    -- (para checar se as recomendações estão sendo efetivas)
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                nome_streamer
            </th>
            <th>
               nome_espectador
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (Consulta3 con in listConsulta)
        {
            <tr>
                <td>
                    @con.Nome_streamer
                </td>
                <td>
                    @con.Nome_espectador
                </td>


            </tr>
        }
    </tbody>
</table>
